In [10]:
import pandas as pd
import numpy as np

# Data Frames

In [7]:
dictObj={   
   'EmpCode' : ['E01','E02','E03','E04'],  
                  'EmpName' : ['Raj','Raman','Rahul','Rohit'],  
                  'EmpDept' : ['HR','Accounts','IT','HR']  
                }  
  
df=pd.DataFrame(dictObj)  
print(df)

  EmpCode EmpName   EmpDept
0     E01     Raj        HR
1     E02   Raman  Accounts
2     E03   Rahul        IT
3     E04   Rohit        HR

In [5]:
#esto para cambiar los valores de los indices de 0,1,n a I,II..
df=pd.DataFrame(dictObj, index=['I','II','III','IV'])
#Los valores de los indices deben ser de la misma cantidad que los rows

    EmpCode EmpName   EmpDept
I       E01     Raj        HR
II      E02   Raman  Accounts
III     E03   Rahul        IT
IV      E04   Rohit        HR

In [9]:
#Anidando
yr2018 = {'NoOfArticles':1200, 'NoOfBlogs':1000, 'NoOfNews':700}  
yr2019 = {'NoOfArticles':1500, 'NoOfBlogs':1500, 'NoOfNews':900}  
yr2020 = {'NoOfArticles':2000, 'NoOfBlogs':1800, 'NoOfNews':1000}  
  
Published = {2018:yr2018, 2019:yr2019, 2020:yr2020}  
df1 = pd.DataFrame(Published)  
df1

              2018  2019  2020
NoOfArticles  1200  1500  2000
NoOfBlogs     1000  1500  1800
NoOfNews       700   900  1000

In [11]:
#Creando un DataFrame de un array 2-D(Numpy Array)
#Proporciona automáticamente índices de fila e índices de columna que comenzaron desde 0. 
arr=([[11,12,13],[14,15,16],[17,18,19],[20,21,22]])
df2=pd.DataFrame(arr)  
print(df2)

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19
3  20  21  22

In [13]:
#Para cambiar lo anterior hacemos 
df2=pd.DataFrame(arr,columns=['One','Two','Three'], index=['I','II','III','IV'])
df2

     One  Two  Three
I     11   12     13
II    14   15     16
III   17   18     19
IV    20   21     22

# Creating DataFrame from Series Object
Series es una estructura de datos de Pandas que representa un objeto similar a una matriz 1-Dimenisonal que contiene una matriz de datos y una matriz asociada de etiquetas de datos, llamada índice. También podemos crear DataFrame a partir de él.

#Students = pd.Series(['Raj','Raman','Rahul'], index=[1,2,3]
#Marks = pd.Series([75,89,90], index=[1,2,3])  
#Contact = pd.Series('9899','9560','9871'], index=[1,2,3])
#Dict = {Stud:Students, MM:Marks, Phone:Contact}  
                     
#df=pd.DataFrame(dict)  
#df

In [19]:
#creando un dataframe
import pandas as pd    
dictObj = {'EmpId' : ['E01','E02','E03','E04'],    
       'EmpName' : ['Raj','Atul','Reena','Ayushi'],    
       'Department' : ['IT','IT','HR','Accounts']}    
df=pd.DataFrame(dictObj, index=['First','Second','Third','Fourth']) 
df

       EmpId EmpName Department
First    E01     Raj         IT
Second   E02    Atul         IT
Third    E03   Reena         HR
Fourth   E04  Ayushi   Accounts

# podemos acceder a valores individuales del DataFrame
1. usando el nombre del row y el numero del index

In [22]:
df.EmpName['Third']

'Reena'

In [23]:
df.EmpName[2]

'Reena'

2. usando .at y iat

In [27]:
df.iat[2,2]

'HR'

In [28]:
df.at['First', 'EmpName']

'Raj'

# Accediendo a una sola columna

In [29]:
df['EmpName']

First        Raj
Second      Atul
Third      Reena
Fourth    Ayushi
Name: EmpName, dtype: object

In [35]:
df.EmpName

First        Raj
Second      Atul
Third      Reena
Fourth    Ayushi
Name: EmpName, dtype: object

# Accediendo a mas de una columna

In [34]:
df[['EmpId','EmpName']]

       EmpId EmpName
First    E01     Raj
Second   E02    Atul
Third    E03   Reena
Fourth   E04  Ayushi

# Accediedndo a rows

In [36]:
#esto se hace con .loc o .iloc
df.loc[['Second']]

       EmpId EmpName Department
Second   E02    Atul         IT

In [38]:
df.iloc[[2]]

      EmpId EmpName Department
Third   E03   Reena         HR

# Slicing
df.loc [ : ] Obteniendo todas las filas y columnas del marco de datos

df.loc [‘First’ : , :]
or
df.iloc [ 0 : , : ]